* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
ul,
p {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --text-color: #888888;
  --text-color-dark: #282828;
  --buttons-color: red;
    --buttons-color-text: white;
    --background-title-color: #6f8faf;

}
