.title {
  background-color: var(--background-title-color);
  .title__main-container {
    margin: 0 200px;
    padding: 50px 0;
    .title__main-text-container {
      .title__main-text {
        color: var(--text-color-dark);
        font-weight: lighter;
        font-size: 45px;
        letter-spacing: 3px;
      }
    }
    .title__secondary-text-container {
      .title__secondary-text {
        color: var(--text-color-dark);
        font-weight: lighter;
        letter-spacing: 1px;
      }
    }
  }
}

@media (max-width: 768px) {
  .title{
    padding-top: 300px;
  }
}
