.header {
    .header__main-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px;
        margin: 0 100px;
        .header__logo-container {
            .header__logo {
                width: 120px;
                height: 50px;
                border-radius: 15px;
            }
        }
        .header__nav-bar-container{
            display: flex;
            align-items: center;
            .header__nav-bar{
                list-style-type: none;
                display: flex;
                .header__nav-bar-element{
                    margin-left: 20px;
                    margin-right: 20px;
                    color: var(--text-color-dark);
                    font-weight: bold;
                }
            }
            .header__nav-bar-element-btn-container{
                .header__nav-bar-element-btn{
                    border: none;
                    background-color: var(--buttons-color);
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 20px;
                    .header__nav-bar-element-btn-image{
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
}
