.works {
  .works__main-container {
    margin: 0 200px;
    .works__section-header-text-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 100px;
      margin-bottom: 25px;
      .works__section-header-text {
        color: var(--text-color-dark);
      }
      .works__section-header-btn {
        border: none;
        background-color: var(--buttons-color);
        padding: 20px;
        color: var(--buttons-color-text);
        font-weight: bold;
        cursor: pointer;
      }
      .works__section-header-text::after {
        content: "--";
        color: var(--buttons-color);
        margin-left: 15px;
        letter-spacing: 5px;
        font-weight: lighter;
      }
    }
    .works__pictures-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row wrap;
      align-content: space-between;
      margin-top: 20px;
      .works__pictures-inner-container {
        margin-bottom: 20px;
        .works__pictures-inner-container-img {
          width: 490px;
          height: 350px;
        }
      }
    }
  }
}

